import UploadImageAndroid from '../components/UploadImageAndroid.jsx';
import '../styles/styles.css';

---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Capturas de Pantalla para las Resoluciones Requeridas por Android</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">iOS</a></li>
        <li><a href="/android">Android</a></li>
      </ul>
    </nav>
    <main>
      <UploadImageAndroid client:load />
    </main>
  </body>
</html>
